/*******************************************
********************************************
********************************************

  Layout

********************************************
********************************************
********************************************/

body{
  font-family: $mainFont;

  font-size:$baseFontSize;
  background: white;
  color: $textColor;
  margin: 0;
  padding:0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  &.stuck {
    overflow: hidden;
  }
}

img, video {
  width:100%;
  max-width: 100%;
  border-radius:3px;
}


.main-header {
  padding:5em 0;

}

.hero {
  position: relative;
  height:50vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:0 2em;
  .profile-image {
    background-image:url("../images/mitch.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    background-color:lighten($blue, 30%);
    height:8em;
    width: 8em;
    border-radius:50%;
  }
  h1 {
    font-size:3em;
    max-width: 10em;
    margin:0 0 0.25em 0;
    text-align: center;
  }
  h2 {
    font-size:2em;
    margin:0 0 0.25em 0;
  }
  p {

  }
}

.main-content {
  padding:7em 0;
  h2 {
    font-size:2em;
    line-height: 1;
    margin-bottom: $baseFontSize;
  }
  h3 {
    font-family: $headingFont;


  }
  h2 + h3 {
    font-family: $mainFont;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    line-height: 1.75;
    margin-bottom: 3em;
    text-transform: none;
    color:$textColor;

  }


  ul.info {
    list-style: none;
    display:flex;
    li {
      margin-left: 0;
    }
    li + li {
      margin-left: 2.5em;
      margin-top: 0;
    }
    li {
      strong {
        text-transform: uppercase;
        font-weight: 400;
        color:desaturate(lighten($textColor, 55%), 50%);
        margin-right: 0.5em;
      }
    }
    &.column {
      flex-direction: column;
      li + li {
        margin-left: 0;
        margin-top:2.5em;
      }
      li {
        strong {
          display: block;
          margin-right:0;
          margin-bottom:0.5em;
        }
      }
    }
  }
}

nav {
  ul {
    padding:0;
    margin:0;
    list-style: none;
    display: flex;
    li + li {
      margin-left: 1.5em;
      margin-top: 0;
    }
    a {
      color:$textColor;
      font-weight: 400;
      font-size:0.85em;
      text-decoration: none;
      text-transform: uppercase;
      padding-bottom: 0.25em;
      &:hover {
        text-decoration: none;
      }
      &:focus {
        text-decoration: none;
      }
    }
    li.active {
      a {
        font-weight: 900;
        box-shadow: 0 2px 0 $accentColor;
      }
    }
  }
}

.work {
  background: white;
  padding:7em 0;

  h3 {
    font-family: $mainFont;
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: 2em;
  }
  .work-example {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background:$lightGray;
    text-align: center;
    color:$textColor;
    height: 60vh;
    margin-bottom: 2em;
    padding:0 2em;
    transition:all ease-in-out 200ms;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    span {
      opacity: 0;
      transform: translateY(2em);
      transition:all ease-in-out 400ms;
      max-width: 30em;
      color:white;
    }
    h4 {
      transform: translateY(2em);
      margin-bottom: 0.75em;
      transition:all ease-in-out 400ms;
      font-size:1.2em;
    }
    &:hover {
      h4 {
        transform: translateY(0);
        color:white;
      }
      span {
        color:white;
        opacity: 0.75;
        transform: translateY(0);
      }
    }
    &.poplibs {


      &:hover {
        transform: translateY(-0.25em);
        background-color:$blue;
      }
    }
    &.sharethrough {
      &:hover {
        transform:translateY(-0.25em);
        background:$strPurple;
      }
    }
    &.kareo {

      &:hover {
        transform:translateY(-0.25em);
        background-color:$kareoOrange;
      }
    }
  }
}

.main-footer {
  background:$textColor;
  padding:7em 0;
  color:white;
  p {
    color:white;
    opacity: 0.5;
  }
  svg {
    margin:1em 0;
    path {
      fill: white;
    }
  }
}

.cover {

  padding:5em 0;
  &.about {
    background-image:url("../images/cover-photo.jpg");
    background-size:cover;
    background-position: 0 70%;
    background-color:lighten(desaturate($textColor, 30%), 30%);
    background-blend-mode: multiply;
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    color:white;
    text-align: center;
    p {
      color:white;
    }
    .scrim {
      position:absolute;
      top:0;
      bottom:0;
      left: 0;
      right:0;
      background-image:linear-gradient(45deg, $darkGray, $primaryColor);
      opacity: 0.5;
    }
    img {
      position: relative;
      width:10em;
    }
  }
  &.poplibs {
    padding-bottom: 0;
    //background:$primaryColor;
  }
  &.kareo {

    //background:$kareoOrange;
    img {
      box-shadow: 0 12px 40px rgba(0,0,0,0.05);
    }
  }
  &.sharethrough {

    //background:$strPurple;
    img {
      box-shadow: 0 12px 40px rgba(0,0,0,0.05);
    }
  }
}

.figure {
  margin-top:8em;
  margin-bottom:8em;
  &.bordered {
    img {
      box-shadow: 0 6px 50px rgba(0,0,0,0.05);

    }
  }
  img {

    &:hover {
      cursor: -webkit-zoom-in;
      cursor: -moz-zoom-in;
      cursor: zoom-in;


    }
  }
}

.video-wrapper {
  max-height: 441px;
  overflow: hidden;
  border-radius:3px;
}

.lightbox {
  position:fixed;
  width: 100%;
  z-index: -1;
  background:$lightGray;
  padding:4em;
  top:0;
  left:0;
  bottom:0;
  right:0;
  display:-moz-box;
  display: flex;
  -moz-align-items: flex-start;
  align-items: flex-start;

  justify-content: center;
  overflow: scroll;
  opacity: 0;
  transition:all ease-in-out 250ms;
  &.up{
    z-index: 100;
  }

  &.show {
    opacity: 1;
    img {
      opacity: 1;
      transform: translateY(0);
    }
    &.leaving {
      img{
        opacity: 0;
        transform: translateY(-1em);
        transition-delay: 0ms;
      }
    }
  }
  img {
    background: white;
    box-shadow:0 12px 40px rgba(0,0,0,0.1);
    opacity: 0;
    transform: translateY(-1em);
    transition: all ease-in-out 250ms;
    transition-delay: 250ms;
  }
  .close {
    position: absolute;
    padding:1.5em;
    line-height: 1;
    top:0;
    right: 0em;
    background:transparent;
    border:0;
    opacity: 0.35;
    font-size:1em;
    font-family: $mainFont;
    text-transform: uppercase;
    transition: all ease-in-out 200ms;
    &:hover {
      cursor:pointer;
      opacity: 1;
    }
    &:focus, &:active {
      outline:0;
      opacity: 1;
    }
  }
}

.shine-container {
  width: 100%;
  height: 1px;
  position: relative;
}

svg.shine {
  g {
    animation-delay: 400ms !important;
  }
  &.left-4 {
    position: absolute;
    left: 340px;
    top: -10px;
    g {
      stroke-dasharray: 50;
      stroke-dashoffset: 50;
      animation: dash-left-4 800ms cubic-bezier(0,.57,.24,.96);
      animation-fill-mode: forwards;
    }
  }
  &.left-3 {
    position: absolute;
    left: 350px;
    top: -80px;
    g {
      stroke-dasharray: 140;
      stroke-dashoffset: 140;
      animation: dash-left-3 1100ms cubic-bezier(0,.57,.24,.96);
      animation-fill-mode: forwards;
      path {
        stroke:$accentColor;
      }
    }
  }
  &.left-2 {
    position: absolute;
    left: 400px;
    top: -150px;
    g {
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      animation: dash-left-2 800ms cubic-bezier(.63,.01,.03,.99);
      animation-fill-mode: forwards;
      animation-delay: 200ms;
      path {
        stroke:$kareoOrange;
      }
    }
  }
  &.left-1 {
    position: absolute;
    left: 510px;
    top: -250px;
    g {
      stroke-dasharray: 230;
      stroke-dashoffset: 230;
      animation: dash-left-1 900ms cubic-bezier(0,.57,.24,.96);
      animation-fill-mode: forwards;
      path {
        stroke:$strGreen;
      }
    }
  }
  &.right-1 {
    position: absolute;
    right: 480px;
    top: -220px;
    g {
      stroke-dasharray: 230;
      stroke-dashoffset: 230;
      animation: dash-right-1 1200ms cubic-bezier(.63,.01,.03,.99);
      animation-fill-mode: forwards;
      path {
        stroke:$strPurple;
      }
    }
  }
  &.right-2 {
    position: absolute;
    right: 380px;
    top: -140px;
    g {
      stroke-dasharray: 230;
      stroke-dashoffset: 230;
      animation: dash-right-2 1200ms cubic-bezier(0,.57,.24,.96);
      animation-fill-mode: forwards;
      path {
        stroke:$accentColor;
      }
    }
  }
  &.right-3 {
    position: absolute;
    right: 320px;
    top: -70px;
    g {
      stroke-dasharray: 230;
      stroke-dashoffset: 230;
      animation: dash-right-3 1500ms cubic-bezier(.63,.01,.03,.99);
      animation-fill-mode: forwards;
    }
  }
  &.right-4 {
    position: absolute;
    right: 300px;
    top: -10px;
    g {
      stroke-dasharray: 60;
      stroke-dashoffset: 60;
      animation: dash-right-4 1100ms cubic-bezier(0,.57,.24,.96);
      animation-fill-mode: forwards;
      path {
        stroke:$kareoOrange;
      }
    }
  }
}



@keyframes dash-left-4 {
  0% {
    stroke-dashoffset: -50;
  }

  100% {
    stroke-dashoffset: 50;
  }
}

@keyframes dash-left-3 {
  0% {
    stroke-dashoffset: -140;
  }

  100% {
    stroke-dashoffset: 140;
  }
}

@keyframes dash-left-2 {
  0% {
    stroke-dashoffset: -200;
  }

  100% {
    stroke-dashoffset: 200;
  }
}

@keyframes dash-left-1 {
  0% {
    stroke-dashoffset: -230;
  }

  100% {
    stroke-dashoffset: 230;
  }
}

@keyframes dash-right-1 {
  0% {
    stroke-dashoffset: -230;
  }

  100% {
    stroke-dashoffset: 230;
  }
}

@keyframes dash-right-2 {
  0% {
    stroke-dashoffset: -230;
  }

  100% {
    stroke-dashoffset: 230;
  }
}

@keyframes dash-right-3 {
  0% {
    stroke-dashoffset: -230;
  }

  100% {
    stroke-dashoffset: 230;
  }
}

@keyframes dash-right-4 {
  0% {
    stroke-dashoffset: -60;
  }

  100% {
    stroke-dashoffset: 60;
  }
}
