/*******************************************
********************************************
********************************************

  Media Queries

********************************************
********************************************
********************************************/

@media screen and (max-width: 700px) {
  .hero h2 {
    font-size:3em;
  }

  .work {
    padding:5em 0;
  }

  .hero p {
    text-align: center;
  }
  .shine-container {
    display: none;
  }

  .main-content {
    padding:4em 0;
    h2 {
      font-size:2em;
    }
    h3 {
      font-size:1em;
    }
    h2 + h3 {
      font-size:1em;
    }
  }
  .cover {
    padding:3em 0;
    &.about {
      height: 50vh;
    }
  }
  .main-content ul.info li strong{
    display: block;
  }
}

@media screen and (max-width: 575px) {

  body {
    overflow: auto !important;
  }

  .figure img:hover {
    cursor: default;
  }

  .lightbox {
    display: none !important;
  }

  [class^="col-"]{
    width: 100%;
    margin-left: 0;
  }

  nav{
    width:100%;
    margin-top:2em;
    li {
      margin:0;
    }
    li + li {
      margin-left: 1.5em;
    }
  }

  .figure .col-auto {
    margin-bottom:3em;
  }

  .profile-image{
    display: none;
  }
  .row {
    flex-direction: column;
  }
  .figure {
    flex-direction: column;
    .caption {
      display: block;
      line-height: 1.5;
      margin-top:0.5em;
    }
  }
}

@media screen and (max-width: 465px) {

  body {
    font-size:13px;
  }
  .main-content {
    padding:3em 0;
  }

  .hero {
    height:25vh;
    h1 {
      max-width: 100%;
      font-size:2em;
      text-align: left;
    }
    p {
      text-align: left;
    }
    &.main-content {
      padding:0 2em;
      height:auto;
      align-items: flex-start;
    }
  }

  .work {
    padding:4em 0;
  }

  .col-6 {
    margin-bottom:2em;
  }

  .figure {
    margin-top:5em;
    margin-bottom:5em;
  }

  .work .work-example {
    height:35vh;
  }

  .main-content ul.info {
    flex-direction: column;
    li + li {
      margin-left: 0;
      margin-top:1.5em;
    }
  }

}

@media screen and (max-width: 320px) {

}
