/*******************************************
********************************************
********************************************

  Type

********************************************
********************************************
********************************************/

* {
  padding:0;
  margin:0;
}

h1, h2, h3, h4, h5 {
  font-family: $headingFont;
  font-weight: 800;
}

h3 {
  font-size:1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

p, span, strong, li, em {
  font-size:1em;
  font-weight: 300;
  line-height: 1.75;

}

strong {
  font-weight: 400;
}

blockquote {
  font-size:2em;
  line-height: 1;
  font-family: $serif;
  font-style:italic;
  margin:1em 0;
  padding:0.5em 0;
  position: relative;
  p {
    line-height: 1.25;
  }
  cite {
    font-family: $mainFont;
    font-size:$baseFontSize;
    font-style:normal;
  }

}

p + p {
  margin-top:1.5em;
}

p + ul {
  margin-top:1.5em;
}

p + ol {
  margin:3em 0;
}

p + h3 {
  margin-top:2em;
}

ul, ol {

  li {
    margin-left:$baseFontSize*1.25;
  }
  li + li {
    margin-top:1em;
  }
}

ol.fancy {
  list-style-type: none;
}

ol.fancy li {
  counter-increment: step-counter;
  position: relative;

}

ol.fancy li + li {
  margin-top: 2em;
}

ol.fancy li::before {
  content: counter(step-counter);
  font-family: $headingFont;
  position: absolute;
  left: -1.25em;
}

ul.unstyled {
  list-style: none;
  li + li {
    margin-top:1em;
  }
}

ul.float-items {
  display: flex;
  flex-flow: wrap;
  list-style: none;
  li {
    background:$lightGray;
    border-radius: 3px;
    padding:0.5em 1em;
    margin-right: 1em;
    margin-left: 0;
    margin-bottom: 1em;
  }
  li+li {
    margin-top: 0;
  }

}

a {
  color:$primaryColor;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    text-decoration-skip: ink;
  }
  &:focus {
    text-decoration: underline;
    text-decoration-skip: ink;
  }
}

.caption {
  font-family: $serif;
  font-style: italic;
  font-size:ceil($baseFontSize*0.8);
  line-height: 1;
}
