/*******************************************
********************************************
********************************************

  Variables

********************************************
********************************************
********************************************/

@font-face {
  font-family: 'Tiempos-RegularItalic';
  src: url('fonts/TiemposText-RegularItalic.eot'); /* IE9 Compat Modes */
  src: url('fonts/TiemposText-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/TiemposText-RegularItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/TiemposText-RegularItalic.otf');

}

@font-face {
  font-family: 'Tiempos-Bold';
  src: url('fonts/TiemposText-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/TiemposText-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/TiemposText-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/TiemposText-Bold.otf');

}

@font-face {
	font-family: 'QuincyCF-Black';
	src: url('fonts/quincy-cf-black.eot');
	src: url('fonts/quincy-cf-black.eot?#iefix') format('embedded-opentype'),
             url('fonts/quincy-cf-black.woff2') format('woff2'),
	     url('fonts/quincy-cf-black.woff') format('woff'),
	     url('fonts/quincy-cf-black.ttf') format('truetype'),
	     url('fonts/quincy-cf-black.svg#youworkforthem') format('svg');
}

@font-face {
	font-family: 'QuincyCF-Italic';
	src: url('fonts/quincy-cf-italic.eot');
	src: url('fonts/quincy-cf-italic.eot?#iefix') format('embedded-opentype'),
             url('fonts/quincy-cf-italic.woff2') format('woff2'),
	     url('fonts/quincy-cf-italic.woff') format('woff'),
	     url('fonts/quincy-cf-italic.ttf') format('truetype'),
	     url('fonts/quincy-cf-italic.svg#youworkforthem') format('svg');

}


// Fonts

$serifBold: "QuincyCF-Black", Georgia, serif;

$serifItalic: "QuincyCF-Italic", Georgia, serif;

$serif: "Sentinel SSm A", "Sentinel SSm B", Georgia, serif;

$sanSerif: "Lato", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial;
$mainFont:$sanSerif;

$headingFont:$sanSerif;

$baseFontSize: 16px;

// Color

$blue:#00a5e2;
$purple:#6636AC;

$pink: #E91E63;

$darkGray: #102844;
$lightGray: #edf4f7;

$textColor:$darkGray;

$primaryColor:$blue;

$accentColor:$pink;

$strPurple: #4250AF;
$strGreen: #4AD0A5;

$kareoOrange: #f7941d;
