/*******************************************
********************************************
********************************************

  Layout

********************************************
********************************************
********************************************/

body{
  font-family: $mainFont;

  font-size:$baseFontSize;
  background: white;
  color: $textColor;
  margin: 0;
  padding:0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

img {
  max-width: 100%;
}

.main-header {
  padding:3em 0;

  .profile-image {
    background-image:url("../images/mitch.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    background-color:$blue;
    height:7em;
    width: 7em;
    border-radius:50%;
  }
  p.lead {
    font-size:3em;
    font-weight: 300;
    margin:3em 0;
  }
}
