/*******************************************
********************************************
********************************************

  Layout

********************************************
********************************************
********************************************/

body{
  font-family: $mainFont;

  font-size:$baseFontSize;
  background: white;
  color: $textColor;
  margin: 0;
  padding:0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

img {
  max-width: 100%;
}

.main-header {
  padding:3em 0;

}

.hero {
  margin-top:7em;
  margin-bottom:7em;
  .profile-image {
    background-image:url("../images/mitch.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    background-color:$blue;
    height:7em;
    width: 7em;
    border-radius:50%;
  }
  h2 {
    font-size:3em;
    font-weight: 300;
    margin:0 0 0.5em 0;
  }
  p {
    font-size:2em;
    line-height: 1.25;
    font-weight: 300;
    margin:0;
  }
}

nav {
  ul {
    padding:0;
    margin:0;
    list-style: none;
    display: flex;
    li + li {
      margin-left: 1.5em;

    }
    a {
      color:$textColor;
      font-weight: 300;
      font-size:0.85em;
      text-decoration: none;
      text-transform: uppercase;
      padding-bottom: 0.25em;
    }
    li.active {
      a {
        font-weight: 900;
        box-shadow: 0 2px 0 $primaryColor;
      }
    }
  }
}

.work {
  background: $darkGray;
  padding:7em 0;
  color:white;
  h3 {

    margin-bottom: 2em;
  }
  .work-example {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background:lighten($darkGray, 5%);
    text-align: center;
    color:white;
    height: 15em;
    margin-bottom: 1em;
    transition:all ease-in-out 200ms;
    &.poplibs {
      &:hover {
        transform: translateY(-0.25em);
        background:$blue;
      }
    }
    &.sharethrough {
      &:hover {
        transform:translateY(-0.25em);
        background:$strGreen;
      }
    }
    &.kareo {
      &:hover {
        transform:translateY(-0.25em);
        background:$kareoOrange;
      }
    }
  }
}
