/*******************************************
********************************************
********************************************

  Variables

********************************************
********************************************
********************************************/


// Fonts

$sanSerif: "Lato", "Helvetica Neue", Arial;
$mainFont: $sanSerif;

$baseFontSize: 16px;

// Color

$darkGray: #22282f;

$textColor:$darkGray;
