/*******************************************
********************************************
********************************************

  Variables

********************************************
********************************************
********************************************/


// Fonts

$sanSerif: "Lato", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial;
$mainFont: $sanSerif;

$baseFontSize: 16px;

// Color

$blue:#02bffd;
$purple:#6636AC;

$darkGray: #22282f;

$textColor:$darkGray;
