/*******************************************
********************************************
********************************************

  Variables

********************************************
********************************************
********************************************/

@font-face {
  font-family: 'Tiempos-RegularItalic';
  src: url('fonts/TiemposText-RegularItalic.eot'); /* IE9 Compat Modes */
  src: url('fonts/TiemposText-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/TiemposText-RegularItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/TiemposText-RegularItalic.otf');

}

@font-face {
  font-family: 'Tiempos-Bold';
  src: url('fonts/TiemposText-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/TiemposText-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/TiemposText-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/TiemposText-Bold.otf');

}

// Fonts

$serifBold: "Tiempos-Bold", Georgia, serif;

$serifItalic: "Tiempos-RegularItalic", Georgia, serif;

$sanSerif: "Gotham SSm A", "Gotham SSm B", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial;
$mainFont: $sanSerif;

$headingFont: $serifBold;

$baseFontSize: 16px;

// Color

$blue:#03a9e0;
$purple:#6636AC;

$darkGray: #102844;
$lightGray: #edf4f7;

$textColor:$darkGray;

$primaryColor:$blue;

$strGreen:#4AD0A5;

$kareoOrange: #f7941d;
