.main-content
  .container
    .display-flex.alignItems-center.justifyContent-center.paddingTop-10.paddingBottom-10
      .margin-4
        h2 404
        h3 Whoops. Looks like what you're looking for can't be found.
