
.cover.about
  .row
    .col-8.col-offset-2
      h3 About
      p
        | I'm a digital product designer in beautiful Orange County, CA. I help companies deliver thoughtful and engaging user experiences. 
  
.main-content
  .container 
    .row
      .col-8
        
        h3 A short biography
        p 
          | I started my career as a filmmaker and digital producer. I worked with non-profit organizations and media companies to produce short-form video content. I picked up some HTML and CSS and soon found myself falling in love with making digital products on the web. 
          | I decided the best thing to do for my new passion was to go back to school. I earned a Master's degree from 
          a(href="https://www.soic.indiana.edu/", target="_blank") Indiana University's iSchool 
          | in 2013 and I've worked with technology companies ever since.
        p 
          | Right now, I'm a Sr. UX Designer at 
          a(href="http://sharethrough.com", target="_blank") Sharethrough 
          | where I design the platform used by publishers like CNN, Warner Bros, Forbes, and Rolling Stone to manage their native advertising revenue. I also mentor students and teach design at 
          a(href="bloc.io", target="_blank") Bloc
          | .
          
        p I'm an advocate and practitioner of Lean UX methodologies&mdash;understanding assumptions and conducting experiments to continuously deliver value.
        h3 Skills
        ul.float-items
          li User Research
          li Customer Interviewing
          li Journey Mapping
          li Information Architecture
          li Interaction Design
          li Rapid Prototyping &amp; User testing
          li Visual Design
          li Front-end Development
          li Ideation Facilitation
          li Designing &amp; Conducting Experiments
      .col-3.col-offset-1
        ul.info.column.marginTop-6
          li 
            strong Twitter
            a(href="https://twitter.com/TheSocialMitch", target="_blank") @TheSocialMitch
          li
            strong Medium
            a(href="https://medium.com/@thesocialmitch", target="_blank") @thesocialmitch
          li
            strong Dribbble
            a(href="https://dribbble.com/mitchmalone", target="_blank") mitchmalone 
          li
            strong Email
            span mitch@mitchmaloneonline.com
        
      
    
        
