.main-content
  .container 
    .row
      .col-8
        h2 About
        h3 
          | I'm a digital product designer in beautiful Orange County, CA. I help companies deliver thoughtful and engaging user experiences. 
        p 
          | Right now, I'm a Sr. UX Designer at 
          a(href="http://sharethrough.com", target="_blank") Sharethrough 
          | where I help publishers like CNN, Warner Bros, Forbes, and Rollingstone manage their native advertising revenue.
        p I'm an advocate for Lean Startup practices—understanding assumptions and conducting experiments to discover if the assumptions are real.
      .col-3.col-offset-1
        img(src="images/mitch.jpg")
    .row.marginTop-6
      .col-8
        h3 Skills
        ul.float-items
          li User Research
          li Customer Interviewing
          li Information Architecture
          li Interaction Design
          li Rapid Prototyping &amp; User testing
          li Visual Design
          li Front-end Development
          li Ideation Facilitation
          li Design &amp; Conducting Experiments
