.main-content
  .container
    .row
      .col-8
        h2 About
        h3
          | I'm a digital product designer in beautiful Orange County, CA. I help companies deliver thoughtful and engaging user experiences. 
.cover.about
  .scrim
  
.main-content
  .container 
    .row
      .col-8.col-offset-1
        
        h3 A short biography
        p 
          | I started my career as a filmmaker and digital producer. I worked with non-profit organizations and media companies to produce short-form video content. I picked up some HTML and CSS and soon found myself falling in love with making digital products on the web. 
          | I decided the best thing to do for my new passion was to go back to school. I graduated from 
          a(href="https://www.soic.indiana.edu/", target="_blank") Indiana University's iSchool 
          | in 2013 and I've worked with technology companies ever since.
        p 
          | Right now, I'm a Sr. UX Designer at 
          a(href="http://sharethrough.com", target="_blank") Sharethrough 
          | where I help publishers like CNN, Warner Bros, Forbes, and Rollingstone manage their native advertising revenue.
          
        p I'm an advocate for Lean Startup practices—understanding assumptions and conducting experiments to discover if the assumptions are real.
        h3 Skills
        ul.float-items
          li User Research
          li Customer Interviewing
          li Information Architecture
          li Interaction Design
          li Rapid Prototyping &amp; User testing
          li Visual Design
          li Front-end Development
          li Ideation Facilitation
          li Design &amp; Conducting Experiments
      .col-2.col-offset-1
        ul.unstyled.marginTop-6
          li 
            a(href="") Twitter
          li 
            a(href="") Medium
          li 
            a(href="") Dribbble
          li 
            a(href="") Email
      
    
        
