.hero
  .container
    .row
      .col-8
        h2 A digital product designer in Orange County, CA.
        p This is the porfolio of Mitch Malone—a designer in Orange County ,CA.
      .col-4
        .display-flex.justifyContent-center
          .profile-image
.work 
  .container
    h3 Selected Work
    .row
      .col-4
        a(href="").poplibs.work-example 
          span Poplibs
      .col-8
        a(href="").sharethrough.work-example 
          span Sharethrough Unified Auction
    .row
      .col-5
        a(href="").sharethrough.work-example 
          span Sharethrough Reporting Framework
      .col-7
        a(href="").kareo.work-example 
          span Kareo Patient Portal
