.hero
  h2 Digital product design for humans.
  p This is the portfolio of Mitch Malone&mdash;a designer in Orange County ,CA.
        
      
.work 
  .container.full
    .row
      .col-8
        a(href="alerts.html").sharethrough.work-example.alerts
          h4 Sharethrough Platform Alerts
          span Making it easier for publishers to improve their inventory by surfacing problems and opportunities.
          
      .col-4
        a(href="poplibs.html").poplibs.work-example
          h4 Poplibs
          span A simple Madlibs-style game for the internet.
    .row
      .col-5
        a(href="reporting.html").sharethrough.work-example.reporting
          h4 Sharethrough Reporting Framework
          span Designing a new way to understand advertising sales performance.
      .col-7
        a(href="unified-auction.html").sharethrough.work-example.ua 
          h4 Sharethrough Unified Auction
          span Reimagining Sharethrough's main revenue-driving product to compete with industry giants.
    .row
      
      .col-7
        a(href="patient-portal.html").kareo.work-example
          h4 Kareo Patient Portal
          span Easily understand and pay your medical bills, message your doctor, and see your medical records. 
