.hero
  .shine-container
    svg.shine.left-4(width='47px', height='19px', viewbox='0 0 47 19', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
      // Generator: Sketch 45.2 (43514) - http://www.bohemiancoding.com/sketch
      defs
      g#Page-1-Copy-3(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', stroke-linecap='round')
        path#Path-2(d='M43.0377875,4.12075653 L4.23182263,14.4880364', stroke='#00A5E2', stroke-width='4', transform='translate(23.634805, 9.304396) scale(-1, 1) translate(-23.634805, -9.304396) ')
    svg.shine.left-3(width='121px', height='73px', viewbox='0 0 121 73', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
      defs
      g#Page-1-Copy-3(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', stroke-linecap='round')
        path#Path-2(d='M116.301246,4.2019384 L4.691514,68.5452539', stroke='#00A5E2', stroke-width='4', transform='translate(60.496380, 36.373596) scale(-1, 1) translate(-60.496380, -36.373596) ')
    svg.shine.left-2(width='133px', height='133px', viewbox='0 0 133 133', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
     defs
     g#Page-1-Copy-3(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', stroke-linecap='round')
       path#Path-2(d='M128.894531,4.09570313 L4.09570312,128.894531', stroke='#00A5E2', stroke-width='4', transform='translate(66.495117, 66.495117) scale(-1, 1) translate(-66.495117, -66.495117) ')
    svg.shine.left-1(width='66px', height='222px', viewbox='0 0 66 222', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
     defs
     g#Page-1-Copy-3(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', stroke-linecap='round')
       path#Path-2(d='M61.2330089,4.80960463 L4.39766398,217.551079', stroke='#00A5E2', stroke-width='4', transform='translate(32.815336, 111.180342) scale(-1, 1) translate(-32.815336, -111.180342) ')
    svg.shine.right-1(width='116px', height='194px', viewbox='0 0 116 194', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
     defs
     g#Page-1-Copy-3(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', stroke-linecap='round')
       path#Path-2(d='M111.222771,4.60884329 L4.81739401,189.179307', stroke='#00A5E2', stroke-width='4')
    svg.shine.right-2(width='143px', height='143px', viewbox='0 0 143 143', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
     defs
     g#Page-1-Copy-3(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', stroke-linecap='round')
       path#Path-2(d='M138.941406,4.05859375 L4.42578125,138.574219', stroke='#00A5E2', stroke-width='4')
    svg.shine.right-3(width='132px', height='80px', viewbox='0 0 132 80', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
     defs
     g#Page-1-Copy-3(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', stroke-linecap='round')
       path#Path-2(d='M127.998095,4.03934961 L4.68252755,75.1311112', stroke='#00A5E2', stroke-width='4')
    svg.shine.right-4(width='62px', height='23px', viewbox='0 0 62 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
     defs
     g#Page-1-Copy-3(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', stroke-linecap='round')
       path#Path-2(d='M57.2797583,4.51104496 L3.9690286,18.7533723', stroke='#00A5E2', stroke-width='4')


  h2 Digital product design for humans.
  p This is the portfolio of Mitch Malone&mdash;a designer in Orange County ,CA.
        
      
.work 
  .container.full
    .row
      .col-8
        a(href="alerts.html").sharethrough.work-example.alerts
          h4 Sharethrough Platform Alerts
          span Making it easier for publishers to improve their inventory by surfacing problems and opportunities.
          
      .col-4
        a(href="poplibs.html").poplibs.work-example
          h4 Poplibs
          span A simple Madlibs-style game for the internet.
    .row
      .col-5
        a(href="reporting.html").sharethrough.work-example.reporting
          h4 Sharethrough Reporting Framework
          span Designing a new way to understand advertising sales performance.
      .col-7
        a(href="unified-auction.html").sharethrough.work-example.ua 
          h4 Sharethrough Unified Auction
          span Reimagining Sharethrough's main revenue-driving product to compete with industry giants.
    .row
      
      .col-7
        a(href="patient-portal.html").kareo.work-example
          h4 Kareo Patient Portal
          span Easily understand and pay your medical bills, message your doctor, and see your medical records. 
