.hero
  .container
    .row
      .col-8
        h2 Digital product design for humans.
        p This is the portfolio of Mitch Malone&mdash;a designer in Orange County ,CA.
      .col-4
        .display-flex.justifyContent-end
          .profile-image
.work 
  .container
    h3 Selected Work
    .row
      .col-8
        a(href="alerts.html").sharethrough.work-example
          span Sharethrough Platform Alerts
      .col-4
        a(href="poplibs.html").poplibs.work-example 
          span Poplibs
    .row
      .col-5
        a(href="reporting.html").sharethrough.work-example 
          span Sharethrough Reporting Framework
      .col-7
        a(href="unified-auction.html").sharethrough.work-example 
          span Sharethrough Unified Auction
    .row
      
      .col-7
        a(href="patient-portal.html").kareo.work-example 
          span Kareo Patient Portal
