.main-content
  .container
    .row
      .col-auto
        h2 Kareo Patient Portal
        h3 Easily understand and pay your medical bills, message your doctor, and see your medical records. 
        ul.info
          li 
            strong Industry
            span Healthcare
          li
            strong Role
            span Lead Designer
          li
            strong URL 
            a(href="http://portal.kareo.com", target="_blank") portal.kareo.com
.cover.kareo
  .container
    img(src="images/portal.png")
.main-content
  .container
    .row
      .col-8.col-offset-1
        h3 Background
        p Kareo is a SaaS platform for small medical offices. It offers products for all kinds of people in the healthcare field, like an EHR (Electronic Health Record System) used by doctors for writing clinical notes, medical billing software, scheduling and patient management software, and a Patient Portal for communicating & engaging with patients. Typical customers include small family medicine physicians and physical therapists.
        p Large hospital systems typically don't use Kareo because they have infrastructure and resources to handle billing themselves. Smaller practices aren't so business savvy and so they look to outsourced billing solutions which can be costly. An easy-to-use billing system that connects elegantly with an EHR is a very valuable proposition. This is Kareo's mission.
        h3 The Problem 
        p Patient Portals are web products that are typically bundled with EHRs. They allow patients to access their health record and communicate with their providers. In the world of medicine, there are a lot of incentives provided by the federal government. One of those incentives is called Meaningful Use. If you can successfully attest Meaningful Use at your practice, through the HITECH Act, you can receive substantial cash bonuses. A patient portal is one of the requirements. But we didn't want to just satisfy a government checkbox. With the Patient Portal, we saw and opportunity to increase patient engagement and revenue volume for our customers.
        p One of our goals was to increase patient health awareness by making health information easy to get to and easy to understand. For practices, our goal was to increase patient responsiblity payments. In 2010, the US healthcare industry wrote off $65 billion in bad debt accrued from not collecting patient payments. For our customers, the problem lies in archaic payment practices, which we hoped to innovate with Patient Portal.
