.main-content
  .container
    .row
      .col-auto
        h2 Poplibs
        h3 A side project I made to bring Madlibs to the internet.
        ul.info
          li 
            strong Industry
            span Games
          li
            strong Role
            span Product, Design, Engineering
          li
            strong URL 
            a(href="http://poplibs.co", target="_blank") poplibs.co
.cover.poplibs
  img(src="images/poplibs.png")
.main-content
  .container
    .row
      .col-8.col-offset-1
        h3 The Problem
        p 
          | In the beginning of 2017, I was hanging out with my wife when I thought it would be fun to 
          | do something we haven't done in a while—Madlibs. After a couple minutes of searching Google, I learned 
          | that there aren't many quality, free Madlibs games on the web. So I decided to make my own.
        p
          | But how was I going to make it? I have HTML, CSS, and some JS chops but this was going to be a real game!
          | How should it work and how was I going to technically deliver it? I set out to make a fun Madlibs style game that was fast to play. No signing up or any distractions—just get to a game as fast as possible.
          | I also wanted people to be able to play it by themselves, which if you're familiar with Madlibs, you couldn't do (at least not in a fun way).

        h3 Solution
        p
          | My biggest problem was figuring out how to render the Madlibs. I didn't want to create a database to store all the stories and templates. I wanted a simple way to show the right story with the right questions and let the user move on the next one.
          | 
