.main-content
  .container
    .row
      .col-auto
        h2 Sharethrough Reporting Framework
        h3 Designing a new way to understand advertising sales performance.
        ul.info
          li 
            strong Industry
            span Advertising
          li
            strong Role
            span Lead Designer
          li
            strong URL 
            a(href="http://sharethrough.com", target="_blank") sharethrough.com
.cover.sharethrough
  .container
    img(src="images/sharethrough.png")
.main-content
  .container
    .row
      .col-8.col-offset-1
        h3 Background 
        p 
          | Sharethrough is a technology company that provides a platform for advertisers and publishers to buy and sell 
          a(href="http://sharethrough.com/nativeadvertising/", target="_blank") native advertising
          | . This is a new format for promoting content on the internet. It's main goal is to be less interruptive and fit nicely into the site or app that it's on. Above all, Sharethrough aims at improving the user experience of advertising.
    .row.figure
      .col-10
        img(src='images/native-ad.jpg' alt='Native Ad', title='Native Ad')
      .col-2
        span.caption
          | A native ad has six basic components: a URL, thumbnail, headline, description, brand, and a brand disclosure. These components can be lifted from a URL via Open Graph metadata and converted into a native ad in real time. Image via 
          a(href="http://nativeadvertising.com/why-a-native-ad-can-blend-in-to-any-site/", target="_blank") nativeadvertising.com
    .row
      .col-8.col-offset-1
        h3 The Problem 
        p When I started with Sharethrough, it was difficult to answer specific questions with the old reporting interface. These pointed and actionable questions were left to be answered by Account Managers and engineers. This led to a lot of operational costs for the company. We needed to design a reporting system for answering basic and sophisticated questions.
