.main-content
  .container
    .row
      .col-auto
        h2 Sharethrough Reporting Framework
        h3 Designing a new way to understand advertising sales performance.
        ul.info
          li 
            strong Industry
            span Advertising
          li
            strong Role
            span Lead Designer
          li
            strong URL 
            a(href="http://sharethrough.com", target="_blank") sharethrough.com
.cover.sharethrough
  .container
    img(src="images/sharethrough.png")
.main-content
  .container
    .row
      .col-8.col-offset-1
        h3 Background 
        p 
          | Sharethrough is a technology company that provides a platform for advertisers and publishers to buy and sell 
          a(href="http://sharethrough.com/nativeadvertising/", target="_blank") native advertising
          | . This is a new format for promoting content on the internet. It's main goal is to be less interruptive and fit nicely into the site or app that it's on. Above all, Sharethrough aims at improving the user experience of advertising.
    .row.figure
      .col-10
        img(src='images/native-ad.jpg' alt='Native Ad', title='Native Ad')
      .col-2
        span.caption
          | A native ad has six basic components: a URL, thumbnail, headline, description, brand, and a brand disclosure. These components can be lifted from a URL via Open Graph metadata and converted into a native ad in real time. Image via 
          a(href="http://nativeadvertising.com/why-a-native-ad-can-blend-in-to-any-site/", target="_blank") nativeadvertising.com
    .row
      .col-8.col-offset-1
        h3 The Problem 
        p When I started with Sharethrough, it was difficult to answer specific questions with the old reporting interface. These pointed and actionable questions were left to be answered by Account Managers and engineers. This led to a lot of operational costs for the company. We needed to design a reporting system for answering basic and sophisticated questions.
        p Since reporting on ad sales is such a fundamental job of the platform, we also wanted to develop a flexible framework that would apply to most types of reports. This way, we wouldn't have to reinvent the wheel everytime we had to design a new report.
        h3 Discovery
        p My discovery process always starts with interviews. For this project, I interviewed internal stakeholders like account managers and publisher customers. I wanted to understand the problem and what they were using to solve it. As I listened to these people, I found some patterns emerging. They usually wanted to understand performance of something across multiple dimensions. This led me to the formation of an effective mental model&mdash;levels and dimensions.
        
    .row.figure.bordered
      .col-10
        img(src='images/levels-and-dimensions.png' alt='Reporting Matrix', title='Reporting Matrix', class="padding-2")
      .col-2
        span.caption SFP Reporting Matrix. This represents "levels and dimensions"&mdash;the mental model for our reporting design.
    .row
      .col-8.col-offset-1
        p Publishers ask questions about their ad units and revenue when it at a certain level (publisher, website, placement) and through a certain lens (by source, by device). If you put those two concepts (levels and dimensions) into a matrix, you find that the questions fit nicely into each cell. And you can see patterns about what type of question is going to be asked. Some questions are strictly operational (e.g., is the technology working?) and some are more strategic in nature. Some are about what kinds of campaigns a publisher should sell and where. We want to be software that can answer all these questions and with this approach, we think we can.
        h3 Solution
        p With a strong understanding of our users' needs and problems, we were able to prototype solutions.
    .row.figure.bordered
      .col-10
        .row.marginBottom-4
          .col-6
            img(src="images/programmatic-placement.png")
          .col-6
            img(src="images/microscope-placement.png")
        .row
          .col-6
            img(src="images/mediation-wireframe.png")
          .col-6
            img(src="images/bid-distribution.png")
      .col-2
        span.caption Some wireframes that were part of a low-fidelity Invision prototype. Each report you see here maps back to a cell in the Reporting Matrix.
    .row.figure.bordered
      .col-10
        img(src="images/sharethrough.png")
      .col-2
        span.caption When you first enter the product, you get high-level performance metrics. This level is gives you a sense of the health of your overall native monetization. The "dimensions" you can see at this level are Channels (the sales methods) and Placements (your individual ad units).
    .row.figure.bordered
      .col-10
        img(src="images/programmatic.jpg")
      .col-2
        span.caption From the dashboard, we can go "down" a level into Programmatic&mdash;a channel that operates on a real-time auction.
    .row.figure.bordered
      .col-10
        img(src="images/intel.jpg")
      .col-2
        span.caption From the Programmatic report, we can go down another "level" and look at a specific brand that is buying through that channel.
    .row.figure.bordered
      .col-10
        img(src="images/creative.jpg")
      .col-2
        span.caption This framework works in any type of report. Here, we're look at an ad sold directly by the publisher.
    .row
      .col-8.col-offset-1
        h3 Outcome
        p With this new reporting framework, we can speed up development and rapidly test out new ideas for reports. We've also vastly reduced the number of support tickets for mundane reporting questions. Users will log in and be able to answer most questions they have about their native monetization.
        p We frequently survey our customers on a variety of topics but one thing we consistently hear is that our reporting is the best among all the other partner platforms that they use. It is very easy to use and extremely robust. Personally, this is what I love hearing the most.
    
    .row.marginTop-12
      .col-auto.display-flex.justifyContent-end
        a(href="patient-portal.html", class="next-project") Next Project &rarr;
.lightbox
  button(class='close' onclick='closeLightbox()') Close
