.main-content
  .container
    .row
      .col-auto
        h2 Sharethrough Unified Auction
        h3 Reimagining Sharethrough's main revenue-driving product to compete with industry giants. 
        ul.info
          li 
            strong Industry
            span Advertising
          li
            strong Role
            span Lead Designer
          li
            strong URL 
            a(href="http://sharethrough.com", target="_blank") sharethrough.com
.cover.sharethrough
  .container
    img(src="images/unified-auction.png")
.main-content
  .container
    .row
      .col-8.col-offset-1
        h3 Background
        p 
          | One of the most popular advertising channels is called programmatic. With this method, publishers can connect their inventory to hundreds of advertisers who bid in real-time (using the 
          a(href="https://www.iab.com/guidelines/real-time-bidding-rtb-project/", "_target") RTB protocol
          |). Sharethrough's exchange offers this kind of real-time bidding for our publishers and it's the basis for our business. We take a share of the revenue that publishers make from this exchange.
        h3 The Problem
        p 
          | Despite the efficiencies promised by programmatic and real-time bidding, standard open auctions leave a lot of money on the table.
          
        blockquote 
          p Programmatic advertising seeks to make digital advertising more efficient by leveraging real-time data in order to reach consumers with the most relevant message at the best time. 
          cite 
            a(href="https://katana.media/blog/programmatic-buying-101-value-cost-efficiencies/", target="_blank") Programmatic Buying 101: The Cost Efficiencies
        p 
          | This is true for advertisers; not so much for publishers. In many programmatic channels, publishers' inventory is suffers from 
          a(href="http://www.bannerconnect.net/first-price-second-price-auction-mechanics/", target="_blank") price reduction
          |  and waterfalls can prevent the advertiser willing to pay the most for the impression to lose out to a lower bid.
        p The other limitation with this style of programmatic selling is that you lose opportunities to monetize from other exchanges or networks. The way that publishers have to configure their ad units is using a "waterfall"—or a daisy-chained list of channels that can only compete when the previous channel has passed on the bid.
    .row.figure.bordered
      .col-10
        img(src="images/old-auctions.png")
      .col-2
        span.caption This is how a typical RTB impression works with Sharethrough. Notice how the winning price is a lot less than the highest bid. This is the second price auction at work.
    .row
      .col-8.col-offset-1
        h3 Discovery
        p So given these problems, how can we reduce price reduction and have more exchanges compete to raise prices? Our approach: a unified auction via header bidding. Header bidding allows publishers to connect several exchanges to bid at the same time before the page has fully loaded. 
        p My team started this project by interviewing dozens of publishers about header bidding and how they were integrating technology to enable it. Through these interviews, we learned that the biggest pain points with head bidder were:
        ul
          li Ad server setup. Most header bidding services require a lot of laborious setup in the ad server. How can we have software automate this rote task?
          li Technical bidder management. To add or remove bidders requires pubs manually write special javascript code on each page. Most ad ops teams aren't equipped to do this. How can we provide an easy-to-use UI so publishers can manage bidders?
          li Poor Reporting. Most header bidding solutions do not offer meaning reporting, specifically visibility into bidder performance. How can we tell a good story of header bidder performance?
    .row.figure.bordered
      .col-10
        img(src="images/wrapper-questions.png", class="padding-2")
      .col-2
        span.caption Our Header Bidding questions and assumptions were tracked in this Dropbox Paper doc. As we interviewed users, prototyped things, and user tested designs, we'd add to this doc.
    .row
      .col-8.col-offset-1
        h3 Solution
        p Header bidding changed a lot about how we think about inventory and how we report on it. An impression in this new world was a bit more nuanced. So in order to understand this world better, I needed to model it.
    .row.figure.bordered
      .col-10
        img(src="images/new-auctions.png")
      .col-2
        span.caption Here we can see three separate exchanges (the teal, blue, and green bands) are able to bid at the same time. There's still price reduction, but we can see that it's not as dramatic as the auction above.
    .row.figure.bordered
      .col-10
        img(src="images/scopes-of-reporting.jpg")
      .col-2
        span.caption This diagram is modeling the "scopes of reporting". We want to report on the auction as a whole (which we code named Microscope) and with the Sharethrough Exchange (STX) as a bidder. This diagram helped us understand how to structure our reporting.
    .row.figure.bordered
      .col-10
        img(src="images/product-architecture-future-sm.png", class="padding-2")
      .col-2
        span.caption If we were to deliver a unified auction, we would need to deliver unified reporting. A big problem we discovered is poor reporting with header bidding solutions. So I rearchitected the product around the placement—the atomic unit of a publisher's revenue. With this view, it's easy to get a holistic look at how you're making money.
    .row.figure.bordered
      .col-10
        img(src="images/main-tasks.png", class="padding-2")
      .col-2
        span.caption Main tasks for our unified auction. With this feature set, we think we could bring to market a truly differentiated and awesome product.
    .row.figure.bordered
      .col-10
        .row
          .col-auto
            img(src="images/ad-server-1.png")
          .col-auto
            img(src="images/ad-server-2.png")
          .col-auto
            img(src="images/ad-server-3.png")
      .col-2
        span.caption This was an early idea to make it easy to do all the ad server setup through Sharethrough. Setting up unified auctions and heading bidder carries high development costs. With our product, anyone can log in to Sharethrough and do it themselves.
    .row.figure.bordered
      .col-10
        img(src="images/complete-hb-reporting.png")
      .col-2
        span.caption User flow for how a person navigates the platform to answer the three reporting questions defined above.
    .row.figure.bordered
      .col-10
        img(src="images/unified-placement.png")
      .col-2
        span.caption The final UI for the unified placement. Here you get a good sense of how exactly you're making money. Next steps are to add some data visualization for this view to make it easier to consume at a glance.
    .row.figure.bordered
      .col-10
        img(src="images/edit-placement.png")
      .col-2
        span.caption This is the bread and butter of this project. In other unified auction solutions, bidder management requires an ad ops manager to file a ticket with an engineer and wait for the next sprint. Now, that same manager can log into SFP and manage bidders through our UI.
    .row
      .col-8.col-offset-1
        h3 Outcome
